@media (max-width: 1366px) {
  .album {
    width: calc(100% / 5 - 25px);
  }
}

@media (max-width: 1024px) {
  .album {
    width: calc(100% / 4 - 25px);
  }
}

@media screen and (max-width: 768px) {
  nav span,
  nav .crea,
  nav .menu-item,
  nav h4 {
    display: none;
  }

  .logo {
    margin: 24px 18px;
  }

  .logo img:first-child {
    display: none;
  }
  .logo img:nth-child(2) {
    display: block;
    height: 30px;
  }

  nav {
    width: 70px;
  }

  nav hr {
    display: none;
  }

  .right {
    width: calc(100% - 70px);
  }

  .album {
    width: calc((100% / 3) - 25px);
  }
}

@media (max-width: 480px) {
  .album {
    width: calc(100% / 2 - 25px);
  }

  .section-bar span {
    margin: 10px;
    /* font-size: 10px; */
  }

  .upgrade {
    margin-right: 10px;
  }
}

@media (max-width: 320px) {
  .album {
    width: calc(100% / 1 - 25px);
  }

  .upgrade {
    margin-right: 10px;
  }

  .upgrade:hover {
    display: none;
  }
}
