@media (max-width: 1366px) {
  .album {
    width: calc(100% / 5 - 25px);
  }
}

@media (max-width: 1024px) {
  .album {
    width: calc(100% / 4 - 25px);
  }
}

@media (max-width: 768px) {
  .album {
    width: calc(100% / 3 - 25px);
  }
}

@media (max-width: 480px) {
  .album {
    width: calc(100% / 2 - 25px);
  }

  .section-bar span {
    margin: 10px;
  }

  .upgrade {
    margin-right: 10px;
  }

  .upgrade:hover {
    display: none;
  }

  /* Barra laterale */
  nav span,
  nav .crea,
  nav .menu-item,
  nav h4 {
    display: none;
  }

  .logo {
    margin: 24px 18px;
  }

  .logo img:first-child {
    display: none;
  }
  .logo img:nth-child(2) {
    display: block;
    height: 30px;
  }

  nav {
    width: 70px;
  }

  nav hr {
    display: none;
  }

  .right {
    width: calc(100% - 70px);
  }

  footer {
    padding: 0;
  }

  /* Footer */
  .footer-left,
  .footer-center,
  .footer-right {
    width: calc(100% / 3);
    transform: scale(0.9);
  }
}

@media (max-width: 360px) {
  .album {
    width: calc(100% / 1 - 25px);
  }

  .upgrade {
    margin-right: 10px;
  }

  .footer-right .bar {
    display: none;
  }

  .footer-left,
  .footer-right {
    width: calc(100% / 5);
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .icon {
    display: none;
  }

  .brano {
    margin-left: 35px;
  }

  .footer-center {
    width: calc(100% / 5 * 3);
  }

  .footer-right i {
    padding: 10px 0px;
  }

  /* Footer */
  .footer-left,
  .footer-center,
  .footer-right {
    transform: scale(0.9);
  }
}

@media (max-width: 320px) {
  .album {
    width: calc(100% / 1 - 25px);
  }

  .upgrade {
    margin-right: 10px;
  }

  /* Footer */
  .footer-left,
  .footer-center,
  .footer-right {
    transform: scale(0.9);
  }
}
