* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Nav */
nav {
  display: flex;
  flex-direction: column;
  height: 90vh;
  width: 13vw;
  /* width: 241px; */
  background-color: black;
}

.logo {
  /* height: 10vh; */
  margin: 24px;
}

.logo img {
  height: 40px;
}

.link {
  display: flex;
  flex-direction: row;
  color: white;
  align-items: center;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.link img {
  height: 25px;
  /*Top, Right, Bottom, Left*/
  margin: 5px 10px 5px 20px;
}

.link:hover {
  border-left: 2px solid green;
}

/* Footer */
footer {
  display: flex;
  justify-content: space-between;
  height: 10vh;
  width: 100vw;
  background-color: #282828;
}
