* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #707070;
  background-color: #141922;
}

.left {
  float: left;
}

.right {
  float: right;
  width: calc(100% - 230px);
}

.content {
  width: 100%;
  height: 90vh;
  /* width: calc(100% - 200px); */
  /* background-color: #141922; */
}

.top-bar {
  /* position: fixed; */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100px;
  width: 100%;
  background-color: #080b12;
}

.upgrade {
  color: white;
  font-size: 14px;
  text-transform: uppercase;
  margin-right: 50px;
  border: 1px solid white;
  border-radius: 50px;
  padding: 12px 34px;
}

.section-bar {
  display: flex;
  font-size: 14px;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.section-bar span {
  margin: 0px 20px;
  padding: 20px 0px;
}

.section-bar span:hover {
  border-bottom-width: 50px;
  border-bottom: 2px solid green;
}

/* Nav */
nav {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 90vh;
  /* width: 15vw; */
  min-width: 230px;
  background-color: black;
  color: #707070;
}

.logo {
  /* height: 10vh; */
  margin: 24px;
}

.logo img {
  height: 40px;
  cursor: pointer;
}

.link {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.link img {
  height: 25px;
  /*Top, Right, Bottom, Left*/
  margin: 5px 10px 5px 20px;
}

.link:hover {
  border-left: 2px solid green;
  color: white;
}

/* Playlist */
.playlist-container {
  margin: 15px 20px;
}

h4 {
  text-transform: uppercase;
  color: white;
}

.crea {
  display: flex;
  cursor: pointer;
  margin: 10px 10px 10px 0px;
}

.plus-container {
  display: flex;
  height: 40px;
  width: 40px;
  background-color: grey;
  margin-right: 10px;
  justify-content: center;
  align-items: center;
}

.plus {
  font-size: 30px;
  color: black;
}

/* Regole Items */
.item {
  margin: 20px 0px;
  cursor: pointer;
}

.item:hover,
span:hover {
  color: white;
}

span {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* End */
.end-container {
  position: absolute;
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 15px 20px;
  bottom: 0;
}

.download {
  display: flex;
  flex-direction: row;
}

.download img {
  height: 20px;
  margin-right: 10px;
}

.download span {
  font-size: 14px;
}

hr {
  margin: 10px 0px;
}

.user {
  display: flex;
}

.user img {
  height: 25px;
  background-color: grey;
  border-radius: 50%;
  margin-right: 10px;
}

.user span {
  color: white;
}

/* Footer */
footer {
  display: flex;
  justify-content: space-between;
  height: 10vh;
  width: 100vw;
  background-color: #282828;
  color: #b3b3b3;
  padding: 0px 15px;
}

/* Sinistra */
.footer-left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-left img {
  height: 6vh;
  padding-right: 15px;
  cursor: pointer;
}

.brano {
  width: 100px;
  cursor: pointer;
}

.author {
  font-size: 15px;
  color: white;
}

.name {
  font-size: 12px;
}

.author:hover,
.name:hover {
  text-decoration: underline;
  color: white;
}

/* Icone */
i {
  cursor: pointer;
  padding: 0px 10px;
}

i:hover {
  color: white;
}

/* Centro */
.footer-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.top {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bot {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  color: white;
}

.time {
  margin: 0px 20px;
  font-size: 11px;
  color: #b3b3b3;
}

.bar,
.loading {
  height: 4px;
  border-radius: 20px;
  cursor: pointer;
}

.bar {
  background-color: grey;
}

.loading {
  position: relative;
  width: 20%;
  background-color: #b3b3b3;
}

.bar:hover .loading {
  background-color: limegreen;
}

.circle {
  position: absolute;
  display: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  left: 90%;
  top: 50%;
  transform: translate(0%, -50%);
  background-color: white;
}

.fa-play-circle {
  font-size: 34px;
}

.bar:hover .circle {
  display: block;
}

.progress {
  width: 33.33vw;
}

/* Destra */
.footer-right {
  display: flex;
  align-items: center;
}

.volume {
  width: 5vw;
}

.menu-item {
  overflow-y: hidden;
}
